apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: zot-registry-credentials-plain
  namespace: gitea
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend
  target:
    name: zot-registry-credentials-plain
    creationPolicy: Owner
  data:
    - secretKey: username
      remoteRef:
        key: zot
        property: USERNAME
    - secretKey: password
      remoteRef:
        key: zot
        property: PASSWORD
