# Grafana Helm Values
# Chart: https://github.com/grafana/helm-charts/tree/main/charts/grafana

fullnameOverride: grafana

admin:
  user: bluemayne
  # Password is managed via SealedSecret: grafana-admin-password
  existingSecret: grafana-admin-password
  userKey: admin-user
  passwordKey: admin-password

persistence:
  enabled: true
  size: 2Gi
  storageClass: local-path-retain

initChownData:
  enabled: false

podSecurityContext:
  fsGroup: 472
  fsGroupChangePolicy: "Always"

resources:
  requests:
    cpu: 25m
    memory: 128Mi

service:
  type: ClusterIP
  port: 80

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      access: proxy
      url: http://prometheus-kube-prometheus-prometheus.prometheus.svc.cluster.local:9090
      isDefault: true
      editable: true
    - name: Loki
      type: loki
      access: proxy
      url: http://loki.loki.svc.cluster.local:3100
      editable: true
    - name: Alertmanager
      type: alertmanager
      access: proxy
      url: http://alertmanager.alertmanager.svc.cluster.local:9093
      editable: true
      jsonData:
        implementation: prometheus

# Sidecar for dashboard ConfigMaps
sidecar:
  dashboards:
    enabled: true
    label: grafana_dashboard
    labelValue: "1"
    searchNamespace: grafana
    folderAnnotation: grafana_folder
    provider:
      foldersFromFilesStructure: false

# Dashboards from grafana.com (only those not in ConfigMaps)
dashboardProviders:
  dashboardproviders.yaml:
    apiVersion: 1
    providers:
    - name: 'default'
      orgId: 1
      folder: ''
      type: file
      disableDeletion: false
      editable: true
      options:
        path: /var/lib/grafana/dashboards/default

dashboards:
  default:
    # Longhorn Storage
    longhorn:
      gnetId: 16888
      revision: 9
      datasource: Prometheus
    # Traefik Official
    traefik-official:
      gnetId: 17346
      revision: 9
      datasource: Prometheus

grafana.ini:
  server:
    root_url: "https://grafana0213.kro.kr"
  auth.anonymous:
    enabled: true
    org_role: Admin
  security:
    allow_embedding: true
  auth.basic:
    enabled: false
  auth:
    disable_login_form: true
    disable_signout_menu: true
  news:
    news_feed_enabled: false
