apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  # App of Apps Application
  - application.yaml
  - cert-manager/argocd.yaml
  - traefik/argocd.yaml

  # ArgoCD configuration (no Application, just configuration)
  - argocd
