apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: github-credentials
  namespace: tekton-pipelines
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: vault-backend
  target:
    name: github-credentials
    creationPolicy: Owner
  data:
    - secretKey: token
      remoteRef:
        key: github
        property: PAT
