image:
  tag: "1"

service:
  type: ClusterIP
  port: 3001

persistence:
  enabled: true
  size: 1Gi
  storageClass: "local-path"
  accessMode: ReadWriteOnce

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    memory: 256Mi

livenessProbe:
  enabled: true
  initialDelaySeconds: 180

readinessProbe:
  enabled: true
  initialDelaySeconds: 10

serviceMonitor:
  enabled: true
  namespace: prometheus
  interval: 60s
