apiVersion: triggers.tekton.dev/v1beta1
kind: EventListener
metadata:
  name: github-listener
  namespace: tekton-pipelines
spec:
  serviceAccountName: tekton-triggers-sa
  triggers:
    - name: github-push-nextjs
      interceptors:
        - ref:
            name: "github"
          params:
            - name: "secretRef"
              value:
                secretName: github-webhook-secret
                secretKey: webhook-secret
            - name: "eventTypes"
              value: ["push"]
        - ref:
            name: "cel"
          params:
            - name: "filter"
              value: "body.ref.startsWith('refs/heads/main')"
            - name: "overlays"
              value:
                - key: branch_name
                  expression: "body.ref.split('/')[2]"
        - ref:
            name: "cel"
          params:
            - name: "filter"
              value: "body.repository.name in ['jovies', 'jotion', 'jaejadle', 'portfolio', 'todo']"
      bindings:
        - ref: github-push-binding
      template:
        ref: nextjs-build-template
    - name: github-push-fastapi
      interceptors:
        - ref:
            name: "github"
          params:
            - name: "secretRef"
              value:
                secretName: github-webhook-secret
                secretKey: webhook-secret
            - name: "eventTypes"
              value: ["push"]
        - ref:
            name: "cel"
          params:
            - name: "filter"
              value: "body.ref.startsWith('refs/heads/main')"
            - name: "overlays"
              value:
                - key: branch_name
                  expression: "body.ref.split('/')[2]"
        - ref:
            name: "cel"
          params:
            - name: "filter"
              value: "body.repository.name in ['joossam', 'mas']"
      bindings:
        - ref: github-push-binding
      template:
        ref: fastapi-build-template
  resources:
    kubernetesResource:
      spec:
        template:
          spec:
            serviceAccountName: tekton-triggers-sa
            containers:
              - resources:
                  requests:
                    memory: "64Mi"
                    cpu: "50m"
                  limits:
                    memory: "128Mi"
